<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.keystoadvancement.soundboard.pounds"
        versionCode = "2" 
        version     = "1.5.0" >

    <!-- versionCode is optional and Android only -->

    <name>Pounds Soundboard</name>

    <description>
        Counting Pounds for TRi. 
    </description>

    <author href="https://keystoadvancement.com" email="trevor@keystoadvancement.com">
        Trevor Elliott
    </author>
	
	<platform name="android" />

</widget>